extends layout

block content
    br
    h1 #{title}
    br
    form(method='POST', action='/articles/add')
        #form-group
            label Country's name:
            input.form-control(name='title', type='text')
        br
        #form-group.row
            label.col-sm-1.col-from-label Gold
            div.mx-sm2
                input.form-control(name='gold', type='text')
        br
        #form-group.row
            label.col-sm-1.col-from-label Silver
            div.mx-sm2
                input.form-control(name='silver', type='text')
        br
        #form-group.row
            label.col-sm-1.col-from-label Bronze
            div.mx-sm2
                input.form-control(name='bronze', type='text')
        br
        input.btn.btn-primary(type='submit',value='Submit')