
link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')

title Home
h1(style='margin : 20px;') Hello World
a.btn.btn-danger(href='/users/logout' style='margin : 20px;') Logout
//- a.nav-link(href="/users/logout") Logout