//- extends layout

link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
title Register
block content
    br
    h1(style='margin-left : 20px;') Register
    br
    form(method='POST', action='/users/register')
        #form-group.form-inline
            label(style='margin-left : 50px;') Username:
            input.form-control.mx-sm-3(name='username',type='text')
        br
        #form-group.form-inline
            label(style='margin-left : 50px;') Password:
            input.form-control.mx-sm-3(name='password',type='password')
        br
        #form-group.form-inline
            label(style='margin-left : 50px;') Confirm Password:
            input.form-control.mx-sm-3(name='password2',type='password')
        br
        input.btn.btn-primary(type='submit',value='Submit', style='margin-left : 50px;')
    br
    p(style = 'margin-left: 50px; display:inline-block;') Already have an account?
    a.nav-link(href="/",style = 'display:inline-block;') Login
    
